/*RESET*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CLEARFIX*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*GEN STYLES*/

h1 {
  text-align: center;
  font-size: 50px;
  font-smooth: never;
}

span#p {
  color: #B5FF00;
}
 
span#a {
  color: #FAAD00;
}

span#i {
  color: #F300B1;
}

span#n {
  color: #9F00FF;
}

span#t {
  color: #24A6FF;
}

span#e {
  color: #B5FF00;
}

span#r {
  color: #FAAD00;
}

#controls {
  /*border: 5px solid red;*/
  float: left;
  box-sizing: border-box;
  width: 30%;

}

#color_picker {
  /*border: 5px solid green;*/
  width: auto;
  height: auto;
  /*background-color: purple;*/
}

.cells {
  border: 1px solid black;
  width: 15%;
  height: 5%;
  display: inline-block;
}

.cells:first-child {
  background-color: #5D3600;
}

.cells:first-child + div {
  background-color: #8C5100;
}

.cells:first-child + div + div{
  background-color: #C47100;
}

.cells:first-child + div + div + div {
  background-color: #F99000;
}

.cells:first-child + div + div + div + div {
  background-color: #FCCB89;
}

.cells:first-child + div + div + div + div + div {
  background-color: #FDE5C6;
}

.cells:first-child + div + div + div + div + div + div{
  background-color: #660000;
}

.cells:first-child + div + div + div + div + div + div + div {
  background-color: #940000;
}

.cells:first-child + div + div + div + div + div + div + div + div {
  background-color: #C00000;
}

.cells:first-child + div + div + div + div + div + div + div + div + div {
  background-color: #F40000;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div {
  background-color: #F88E8F;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #FBC8C9;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #7D006C;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #A70092;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #A70092;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #CA00AF;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #F200D2;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #F789EA;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #FBC6F6;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #380070;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #4B0097;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #6500C7;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #8600FF;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div{
  background-color: #C488FF;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #C488FF;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #E1C6FF;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #000097;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #0000D3;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #0000D3;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #126FFF;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #93BBFF;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #CADEFF;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #196200;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #29A000;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #36D000;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #44FF00;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #9DFF83;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #CEFFC4;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #799400;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #9FC300;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #CFFE00;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #EAFF00;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #F5FF82;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #FAFFC3;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #FBBA00;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #FDCD00;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #FEE100;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #FFFF00;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #FFFF9D;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #FFFFC3;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #424242;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #676767;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #989898;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #C5C5C5;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: red;
}
.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #C5C5C5;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: #C5C5C5;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: red;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: red;
}

.cells:first-child + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div + div {
  background-color: red;
}

button {
  display: block;
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #4FB7E1;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#artboard {
  /*border: 5px solid blue;*/
  float: right;
  box-sizing: border-box;
  width: 70%;
}

#pixel_grid {
  /*border: 5px solid pink;*/
  height: auto;
  width: auto;
  background-color: #FFFFFF;
}

.grid_cells {
  border: 1px solid black;
  width: 5%;
  height: 5%;
  display: inline-block;
}